<section class='listado-fechas'>
    <table class="table">
      <tr>
        <th>Número</th>
        <th>Posición</th>
        <th>Puntaje</th>
      </th>
      {% for fecha in fechas %}
        <tr>
          <td>{{ fecha.orden }}</td>
          <td>pendiente</td>
          <td>muy pendiente</td>
        </tr>
      {% endfor %}
    </table>
 </section>